html{
    font-family: sans-serif;
}
.dates{
    font-size: small;
    color:red;
    font-weight: bold;
    background-color: yellow;
    padding: 5px 10px 5px 10px;
}
body{
    background-color: white;
}
#plus-sign{
    
}