html{
    font-family: sans-serif;
}
.dates{
    font-size: small;
    color:red;
    font-weight: bold;
    background-color: yellow;
    padding: 5px 10px 5px 10px;
}
body{
    background-color: white;
}
#plus-sign{
    margin-top: 10px;
}

li{
    margin-bottom:20px;
    padding: 10px;
}

#plus-sign:active{
    box-shadow:1px 1px 1px;
}

li:hover{
    background-color: #c6f2aa;
}

h1{
    padding-left:150px;
    padding-bottom:10px;
    padding-top:10px;
    color:Orange;
}
